*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
body{
    font-family: "Montserrat",serif;
}
:root{
    --g-green:#299764;
    --w-white:#FFFFFF;
    --b-black:#000000;
    --b-background:#F5F5F5;
}